<div class="header-info">
🎉 Serving Since 2000🎉 <div class="sub-header-info">FOR PRETERM, L.B.W & HIGH RISK KIDS</div>
</div>
<div>
    <h3 class="fest">
        Our Participation in <br>
        International Purple Fest <br>
        2025, Goa
    </h3>
</div>

<div class="about-row">
    <div class="about-logo">
        <img src="../../assets/images/ShamaFoundation-log-bg-1.PNG" alt="Shama Foundation Logo" />
    </div>
    <div class="about-info">
        <div class="about-title">
            OUR ENDEAVOR TO HELP AND PRESERVE THE EARTH’S DIFFERENTLY ABLED CHILDREN
        </div>
        <div class="about-desc">
            Create lasting habits that promote better health
        </div>
        <button class="about-btn"><a class="about-btn" href="https://shamafoundation.org/research-articles/"> RESESARCH ARTICLES</a></button>
    </div>
</div>

<div class="about-shama-h2">
    <h1>ABOUT SHAMA FOUNDATION</h1>
</div>
<div class="about-shama-row">
    <div class="about-shama-col">
        <img class="about-shama-img" src="https://img1.wsimg.com/isteam/ip/2f205497-abeb-4f1f-b836-d971d7cef5ac/Untitled%20design(1).png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:365,h:365,cg:true" alt="Our Services">
        <div class="about-shama-label">OUR SERVICES</div>
    </div>
    <div class="about-shama-col">
        <img class="about-shama-img" src="https://img1.wsimg.com/isteam/ip/2f205497-abeb-4f1f-b836-d971d7cef5ac/1708963653722(1).jpg/:/cr=t:0%25,l:12.6%25,w:74.8%25,h:99.99%25/rs=w:730,h:730,cg:true,m" alt="Conditions">
        <div class="about-shama-label">CONDITIONS-</div>
    </div>
    <div class="about-shama-col">
        <img class="about-shama-img" src="https://img1.wsimg.com/isteam/ip/2f205497-abeb-4f1f-b836-d971d7cef5ac/Formal%20Photo%20Yoosuf%20(2)(1).jpg/:/cr=t:15.02%25,l:0%25,w:100%25,h:69.96%25/rs=w:365,h:365,cg:true" alt="Director's Professional Details">
        <div class="about-shama-label">DIRECTOR'S PROFESSIONAL DETAILS</div>
    </div>
</div>

<div class="about-services-row">
    <div class="about-services-col">
        <ul>
            <li>Early Intervention Therapy</li>
            <li>Sensory Integration Therapy (S.I. Therapy)</li>
            <li>Neuro-Developmental Therapy (NDT)</li>
            <li>Speech Therapy</li>
            <li>ABA Therapy</li>
            <li>Play Therapy</li>
            <li>Special Education</li>
            <li>School Readiness Program</li>
            <li>Home Program</li>
            <li>NICU to Home readiness program</li>
        </ul>
    </div>
    <div class="about-services-col">
        <ul>
            <li>High Risk Infants</li>
            <li>Autism, ADHA, Hyperactive, Other Communication Disorders</li>
            <li>Cerebral Palsy, infantile hemi and other Neurological impairments</li>
            <li>Down Syndrome, Slow Learner and other multi-disciplinary disorders.</li>
        </ul>
    </div>
    <div class="about-services-col">
        <ul class="about-details-list">
            <li>DR. MOHD YOOSUF</li>
            <li>B.O.T [SVNIRTAR],</li>
            <li>M.O.Th [Ped], PhD Scholar [Jamia Hamdard]</li>
            <li>DCOT/PT Reg, No.-OT-179, AIOTA Licence No.L-5799/2020</li>
            <li>S.I. Certified & Trainer [University Of Southern California]</li>
            <li>S.I. Licence No.759, Member of NDTA [USA]</li>
            <li>Director, Shama Foundation Company PVT Ltd. ISO Certified</li>
            <li>Senior Consultant at Delhi Newborn Centre [Agrawal Hospital],</li>
            <li>Knowledge Partner RBSK Haryana [NHM]</li>
        </ul>
    </div>
</div>
<div>Banner</div>
<div style="margin-top:100px; text-align: center;">
<h2>Video</h2>
<div class="video-container">
    <iframe data-ux="Embed" allowfullscreen="" type="text/html" frameborder="0" src="https://youtube.com/embed/snEtRqftevQ?rel=0&amp;showinfo=0&amp;si=fjnrwDIUulgRRFaC&amp;autoplay=0&amp;loop=0&amp;muted=0&amp;controls=1" data-aid="VIDEO_IFRAME_RENDERED" class="x-el x-el-iframe c1-1 c1-2 c1-3g c1-6p c1-ej c1-3j c1-4 c1-6q c1-2v c1-2w c1-2x c1-2y c1-10 c1-6x c1-eg c1-b c1-c c1-d c1-e c1-f c1-g"></iframe>
</div>
</div>

<div style="margin-top:100px; text-align: center; background-color: #0f60da; padding: 20px;">
<h2>Video</h2>
<h4>INTRODUCTION ABOUT THE FIRST 1000 DAYS-FOUNDATION OF BRIGHT FUTURE</h4>
<div class="video-container">
    <iframe data-ux="Embed" allowfullscreen="" type="text/html" frameborder="0" src="https://youtube.com/embed/O1MXaNMYxT8?rel=0&showinfo=0&si=h03cWgaRVqjwX8kI&autoplay=0&loop=0&muted=0&controls=1" data-aid="VIDEO_IFRAME_RENDERED" class="x-el x-el-iframe c1-1 c1-2 c1-3g c1-6p c1-ej c1-3j c1-4 c1-6q c1-2v c1-2w c1-2x c1-2y c1-10 c1-6x c1-eg c1-b c1-c c1-d c1-e c1-f c1-g"></iframe>
</div>
</div>

<div style="margin-top:100px; text-align: center; padding: 20px;">
<h2>Video</h2>
<h3>WHY AUTISTIC CHILD ARE RESTLESS AND DO LOT OF MOVEMENTS?</h3>
<h4>LET US UNDERSTAND THE LOGIC</h4>
<div class="video-container">
    <iframe data-ux="Embed" allowfullscreen="" type="text/html" frameborder="0" src="https://youtube.com/embed/O1MXaNMYxT8?rel=0&showinfo=0&si=h03cWgaRVqjwX8kI&autoplay=0&loop=0&muted=0&controls=1" data-aid="VIDEO_IFRAME_RENDERED" class="x-el x-el-iframe c1-1 c1-2 c1-3g c1-6p c1-ej c1-3j c1-4 c1-6q c1-2v c1-2w c1-2x c1-2y c1-10 c1-6x c1-eg c1-b c1-c c1-d c1-e c1-f c1-g"></iframe>
</div>
</div>
<div class="pdf-section">
    <h2>PDF VIEWER</h2>
    <a class="pdf-download" href="../../assets/pdfs/OARArticle.pdf" download>Download PDF ▸</a>

    <div class="pdf-frame">
        <!-- replace the src with your real pdf path under /src/assets/... -->
        <iframe
            src="../../assets/pdfs/OARArticle.pdf#toolbar=0&navpanes=0&scrollbar=0"
            title="PDF Viewer"
            aria-label="PDF viewer"
            allowfullscreen>
        </iframe>
    </div>
</div>
