# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/divine-kids/CopilotIndices/17.14.1147.5054/CodeChunks.db
.vs/divine-kids/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
.vs/divine-kids/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
.vs/divine-kids/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
.vs/divine-kids/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
.vs/divine-kids/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
.vs/divine-kids/FileContentIndex/38cab1c6-f824-4f45-839d-6d389b427975.vsidx
.vs/divine-kids/FileContentIndex/70a90cba-0929-4486-b03d-10a0af911bb9.vsidx
.vs/divine-kids/FileContentIndex/917efad2-610e-49cc-aa5b-1a87adf3779d.vsidx
.vs/divine-kids/FileContentIndex/839338ca-3d12-44ad-a660-2bac42fd48e0.vsidx
.vs/divine-kids/FileContentIndex/b05916a0-2e36-48c1-8d88-d7616d4bcc75.vsidx
.vs/divine-kids/FileContentIndex/71245492-7ad1-454a-90aa-023681d7b52b.vsidx
.vs/slnx.sqlite
"*.vsidx" 
".vs/**/*.vsidx" 
-e ".vscode/\n.vs/\n*.user\n*.suo\n*.userosscache\n*.sln.docstates" 
*.vsidx
*.db-wal
*.db
*.db-shm
/.vs/Client
/.vs/slnx.sqlite
*.sqlite-journal
