<header class="header">
    <div class="header-top">
      <div class="logo">
        <a routerLink="/about-me" routerLinkActive="active">
          <img src="assets/images/Shama Foundation-Orignal-Logo.png" alt="Divine Kids Logo">
        </a>
      </div>
        <nav class="nav-links">
            <a href="#">Shop as a School or Business</a>
            <span>|</span>
            <a href="#">International</a>
            <span>|</span>
            <a href="#">Help</a>
            <span>|</span>
            <span class="phone">+91-989-144-5414</span>
        </nav>
        <div class="header-actions">
            <a routerLink="/auth" routerLinkActive="active" class="signin">Sign In / Create Account</a>
            <div class="cart">
                <span class="cart-count">0</span>
                <span class="cart-icon bi bi-cart"></span>
            </div>
        </div>
    </div>
    <!--<div class="header-bottom">
        <div class="input-group stylish-search">
            <input type="search" class="form-control" placeholder="Search">
            <button class="btn btn-primary" type="button">
                <span class="bi bi-search"></span>
            </button>
        </div>
    </div>-->
</header>
